<div [ngStyle]="{'text-align': 'center', 'font-size': '24px', 'margin-top': '40px', 'margin-bottom': '40px' }"> 
  STUDENTS DATA 
</div>



<div class="input-box"> 
  <label class="label-text" > Name: </label>
  <input type="text"  [(ngModel)]="studentName" placeholder="Enter Student Name"> 
</div>

<div class="input-box"> 
  <label class="label-text"> Roll Number: </label> 
  <input type="text" [(ngModel)]="studentRollNo" placeholder="Enter Student Roll Number"> 
</div>

<div class="input-box">
  <label class="label-text" > Year: </label>
  <input type="text" [(ngModel)]="studentYear" placeholder="Enter Student Year">
</div>

<div class="input-box">
  <label class="label-text" > Contact: </label>
  <input type="text" [(ngModel)]="studentContact" placeholder="Enter Student Contact">
</div>

<div class="input-box">
  <label class="label-text" > Activity: </label>
  <input type="text" [(ngModel)]="studentActivity" placeholder="Enter Student Activity">
</div>

<div class="buttons">
  <button class="btn" (click)="erase()"> Cancel</button>
  <button class="btn" (click)="display()"> Submit</button>
</div>


<table *ngIf="isDataSubmitted">
  <tr>
    <th>NAME</th>
    <th>ROLL.NO</th>
    <th>YEAR</th>
    <th>CONTACT</th>
    <th>ACTIVITY</th>
  </tr>
  <tr *ngFor="let student of students" >
    <td>{{student.name}}</td>
    <td>{{student.rollNo}}</td>
    <td>{{student.year}}</td>
    <td>{{student.contact}}</td>
    <td>{{student.activity}}</td>
  </tr>

</table>

